$font-family-base: sans-serif;
$font-size-base:16px;
$font-weight-base:400;
$line-height-base:1.5;
$letter-spacing-base:0.12em;

$fs-1:40px;
$fs-2:32px;
$fs-3:28px;
$fs-4:24px;
$fs-5:20px;
$fs-6:16px;

$primary-900:#000000;
$primary-800:#1E1E1E;
$primary-700:#3B3B3B;
$primary-600:#5B5B5B;
$primary-500:#919191;
$primary-400:#C1C1C1;
$primary-300:#E9E9E9;
$primary-200:#F1F1F1;
$primary-100:#FAFAFA;
$primary-50:#FFFFFF;