@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans TC", $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-base;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    display: block;
    text-decoration: none;
    color: $primary-900;
    &:hover{
        font-weight: bold;
    }
}
.container{
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 12px;
}
